<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<input type="text" class="form-control" [(ngModel)]="serverName">
<button (click)="onCreateServer()" class="btn btn-primary" [disabled]="!disabled">Add Server</button>
<p>{{serverCreationStatus}}</p>
<hr>
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{userName}}</p>
<button (click)="resetUserName()" class="btn btn-secondary" [disabled]="!userName">Login</button>

<hr>
<button (click)="handleClick()" class="btn btn-secondary">Display Details</button>
<p *ngIf="showPassword">Secret Password: Tuna</p>
<h2 [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : ''}" [ngClass]="{white : i>= 4}" *ngFor="let click of clicks; let i = index">{{click}}</h2>
<app-server></app-server>
<app-server></app-server>
<app-game-control (increment)="createComponent($event)"></app-game-control>
<app-odd *ngFor="let num of oddNumbers" [num]="num"></app-odd>
<app-even *ngFor="let num of evenNumbers" [num]="num"></app-even>
